p .main {
  text-align: justify; }

p .bottom {
  margin-bottom: 50px; }

p .margin-left {
  margin-left: 25px; }

p .margin-right {
  margin-right: 25px; }

p .b {
  line-height: 1.8; }

.container {
  position: relative;
  text-align: center;
  color: white; }

.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); }
