.w3-theme-light-purple {
  color: #fff !important;
  background-color: #afafdc !important; }

.w3-theme-light-blue {
  color: #fff !important;
  background-color: #70cad1 !important; }

.w3-theme-dark-blue {
  color: #fff !important;
  background-color: #416788 !important; }

.w3-theme-orange {
  color: #fff !important;
  background-color: #f75c03 !important; }

.w3-theme-light-orange {
  color: #fff !important;
  background-color: #f88e52 !important; }
