p{
    .main {
        text-align: justify;
    }
    .bottom {
        margin-bottom: 50px;
    }
    .margin-left {
        margin-left: 25px;
    }
    .margin-right {
        margin-right: 25px;
    }
    .b {
        line-height: 1.8;
    }
}
.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
